.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button,
.pill-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;
  outline: none;
  // Default
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
    color: inherit;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
    color: inherit;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }

  &.outline {
    background: transparent;
    box-shadow: none;
    padding: 8px 18px;
    // Default
    border-color: $light-background-secondary;

    @media (prefers-color-scheme: dark) {
      border-color: $dark-background-secondary;
      color: inherit;
    }
  
    @media (prefers-color-scheme: light) {
      border-color: $light-background-secondary;
    }
  
    [data-theme=dark] & {
      border-color: $dark-background-secondary;
      color: inherit;
    }
  
    [data-theme=light] & {
      border-color: $light-background-secondary;
    }

    :hover {
      transform: none;
      box-shadow: none;
    }
  }

  &.primary {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    &:hover {
      box-shadow: 0 2px 6px rgba(50, 50, 93, .21), 0 1px 3px rgba(0, 0, 0, .08);
    }
  }

  &.link {
    background: none;
    font-size: 1rem;
  }

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 200px;
    padding: 14px 24px;
  }
}

.pill-button {
  //@extend .button;
  border: 2px solid;
  /*background-color: #fff;*/
  height: 48px;
  border-radius: 24px;
  margin: 4px;
  font-weight: bold;
  display: inline-flex;
  vertical-align: middle;
  transition: background-color 0.3s ease, transform 0.2s ease;
  // Default
  background: $light-background;
  border-color: $light-color;

  @media (prefers-color-scheme: dark) {
    background: $dark-background;
    border-color: $dark-color;
    color: inherit;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background;
    border-color: $light-color;
  }

  [data-theme=dark] & {
    background: $dark-background;
    border-color: $dark-color;
    color: inherit;
  }

  [data-theme=light] & {
    background: $light-background;
    border-color: $light-color;
  }

  & svg {
    margin-right: 10px;
    height: 24px;
  }

  &:hover {
    /*background-color: #000;*/
    /*color: #fff;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // Default
    background: $light-color;
    color: $light-background;

    @media (prefers-color-scheme: dark) {
      background: $dark-color;
      color: $dark-background;
    }

    @media (prefers-color-scheme: light) {
      background: $light-color;
      color: $light-background;
    }

    [data-theme=dark] & {
      background: $dark-color;
      color: $dark-background;
    }

    [data-theme=light] & {
      background: $light-color;
      color: $light-background;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

p:has(> .pill-button):not(:has(> :not(.pill-button))) {
  display: flex;
  justify-content: center;
}

.code-toolbar {
  margin-bottom: 20px;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
    // Default
    background: $light-background-secondary;

    @media (prefers-color-scheme: dark) {
      background: $dark-background-secondary;
      color: inherit;
    }
  
    @media (prefers-color-scheme: light) {
      background: $light-background-secondary;
    }
  
    [data-theme=dark] & {
      background: $dark-background-secondary;
      color: inherit;
    }
  
    [data-theme=light] & {
      background: $light-background-secondary;
    }
  }
}
